<html>
<head>
    <title>Logitch</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        body{background-color: #26282e;}
        .form-control{margin-right: 10px;}
        .table-success{color:#000;}
        th{text-align: left;}
    </style>
</head>
<body>
    <div style="padding: 10px; background-color:#36c;">
        <form class="form-inline" style="margin:0;">
            <select name="channel" class="form-control">
                <option value="" disabled selected>Choose a channel</option>
            {% for channel in mod_of_channels %}
                <option 
                    value="{{escape(channel)}}" 
                    {%if channel == handler.get_argument('channel', '') %}selected{% end %}>
                    {{escape(channel)}}
                </option>
            {% end %}
            </select>
            <input name="user" class="form-control" type="text" placeholder="User" value="{{escape(handler.get_argument('user', ''))}}" />
            <button type="submit" class="btn btn-info">Search</button>
        </form>
    </div>
    <table class="table table-dark table-hover">
        <thead><tr>
            <th>Timestamp (UTC)</th> 
            <th>User</th> 
            <th>Message</th>
        </tr></thead>
        <tbody>
            {% set log_id = handler.get_argument('log_id', None) %}
            {% for log in logs %}
                
                <tr id="log-{{log['id']}}" {%if log_id == str(log['id']) %}class="table-success"{%end%}>
                    <td width="185px"><a href="/?channel={{url_escape(handler.get_argument('channel'))}}&context={{url_escape(str(log['created_at']))}}&log_id={{log['id']}}#log-{{log['id']}}"
                           title="Show context surrounding this time"
                        >
                        {{log['created_at']}}
                    </td>
                    <td width="150px"><a href="/?channel={{url_escape(handler.get_argument('channel'))}}&user={{url_escape(log['user'])}}">
                        {{escape(log['user'])}}
                    </a></td>
                    <td>{{render_type(log['type'])}} {{escape(log['message'])}}</td>
                </tr>
            {% end %}
        </tbody>
    </table>
</body>
</html>