<!doctype html>
<html>
<head>
    <title>Logitch</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.0.22/webcomponents-hi-ce.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <style>
        body{background-color: #26282e;}
        .form-control{margin-right: 10px;}
        .table-success{color:#000;}
        th{text-align: left;}
        .table td, .table th {
            padding: .45rem;
        }
    </style>
    {% block head %}{% end %}
</head>
<body>
    {% block body %}{% end %}
</body>
</html>